*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(rgba(78, 70, 70, 0.495),rgba(254, 243, 243, 0.495)),url(./images/main-background-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

/* Navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #000000;
}
#logo img{
    width: 80px;
    height:80px;
    margin-left: 40px;
    border-radius: 50%;
}
.ancor-tags{
    display: flex;
    margin-top: 20px;
    padding-right: 60px;
}
/* .ancor-tags a{
    margin:32px;
    background-color: #ffffff6b;
    padding: 10px 20px;
    border-radius: 11px;
} */
.ancor-tags a{
    background-color:#ffffff6b ;
    color: rgb(95, 50, 27);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 12px 14px;
    margin: 12px;
    border-radius: 10px;
    transition: transform 0.2s ease-in 0.2s;
}
.ancor-tags a:hover{
    box-shadow: 1px 1px 1px  1px rgb(30, 28, 28);
    background-color: #dddcdc;
    transform: scale(1.1);

}

/* Home */
.home{
    display: flex;
    justify-content: space-between;
    color: rgb(95, 50, 27);

}
.home-heading{
    padding: 100px 70px;
    font-size: large;
    /* font-family: ; */
}
.home-heading h1{
    font-size: 45px;
}
h1 em{
    font-size: 60px;
    font-style:normal ;
}
.home-heading p{
    padding: 5px 0px;
}
#btn{
    color: rgb(95, 50, 27);
    border: 1px solid rgb(95, 50, 27);;
    background-color: transparent;
    padding: 10px;
    margin-left: 20%;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease 0.1s;
}
#btn:hover{
    background-color: rgba(52, 28, 10, 0.714);
    color: #fff;
   transform: scale(1.1);
}

.offer{
    margin-top: -15px;
    margin-left: -10px;
}
.offer img{
    margin-top: 100px;
    width: 400px;
}
.home-image img{
    width: 320px;
}
.home-image{
    position: relative;
    animation: move 1s both;
}
@keyframes move {
    from{
        right: 0px;
    }
    to{
        right: 100px;
    }
}

/* coffee */
#heading{
    margin-left: 50px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: rgb(95, 50, 27);
    padding-bottom: 12px;
    cursor: pointer;
}
#heading:hover{
    text-decoration: underline rgb(95, 50, 27);

}
.coffee-container{
    width: 100%;
    height: 40%;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    margin-top:40px;

}
.coffee-container .coffee-cup{
    width: 260px;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    background:rgba(0,0,0,0.365) url(./images/coffee-backgound-img-small-div.jpeg);
    background-blend-mode: overlay;
    background-size: cover;
    box-shadow: 5px 5px 5px rgb(7, 7, 7);
    margin-top: 12px;
    transition: transform 0.3s ease-in 0.2s;
    cursor: pointer;
}

.coffee-cup:hover{
    transform: scale(1.1);
}
.coffee-cup img{
    width: 150px;
    height: 130px;
    position: relative;
    top: -40px;
    border-radius: 50%;
}
.coffee-cup h2{
    margin-top: -15px;
}
.coffee-cup p{
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
}
.coffee-cup p:hover{
    text-decoration: underline #fff;
}

/* image-text */
.image-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 40px;
    margin-top: 30px;
}
.image-text img{
    width: 400px;
    margin-right: 40px;
}
.image-text p{
    font-size: x-large;
    font-weight: 500;
    margin-right: 30px;
    text-align: justify;
    color: rgb(95, 50, 27);
}

/*cold coffee */
.cold-cofe-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 90px;
    margin-top:60px ;
}
.cold-cofe-container .cofe-cup{
    width: 220px;
    height: 260px;
    border: 5px solid white;
    text-align: center;
    background-color: rgba(185, 117,83, 0.589);
    transition:transform 0.4s ease-in 0.09s;
}
.cofe-cup:hover{
    transform: translateY(-10px);
}
.cofe-cup img{
    padding: 30px 0px;
    width: 120px;
    height: 150px;
    cursor: pointer;
}
.cold-cofe-container .text-body{
    background-color: #fff;
    color: rgb(95, 50, 27);
    padding: 14px;
}
.cold-cofe-container .text-body h4{
    font-size: 3vh;
    cursor: pointer;
}
.cold-cofe-container .text-body h4:hover{
    text-decoration: underline rgb(95, 50, 27);
}

/* beans container */
.beans-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.beans-container div{
    text-align: center;
    width: 230px;
    height: 245px;
    border-radius: 10px;
    border: 1px solid rgba(77, 48,34,0.589);
    box-shadow: 2px 2px 10px 10px  rgba(77, 48,34,0.589);
    cursor: pointer;
    transition: transform 0.2s ease-in 0.2s;
}
.beans-container div:hover{
   transform: scale(1.1)
}
.beans-container img{
    width: 190px;
}
.beans-container p{
    color: rgb(95, 50, 27);
}

.beans-container p:hover{
   text-decoration: underline rgb(95, 50, 27);
}

/* footer  */
footer{
    /* background-image: linear-gradient(rgba(226, 66, 66, 0.495),rgba(203, 11, 11, 0.495)),url(./images/footer-img.jpeg); */
    background-color: black;
    background-size: cover;
    display: flex;
    margin-top: 200px;
    padding-top: 20px;
    justify-content: space-evenly;
    color: #fff;
    padding-bottom: 50px;

}
footer h4{
    margin-bottom: 20px;
}
footer ul li{
    padding-top: 5px ;
    list-style-type: none;
    cursor: pointer;
}
footer ul li:hover{
    text-decoration: underline ;
}
footer a img{
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    transition: transform 0.3s ease-in  0.2s;
}
footer a img:hover{
    transform: scale(1.1);

}

.Copyrights{
    margin: 1px;
    background-color: rgb(250, 250, 250);
    box-shadow:inset 2px 2px 2px 2px gray;
    color: #030000;
    font-size: x-large;
    padding: 12px;
    text-align: center;
}


/* media query for small screen 1000px */
@media(max-width:1000px){
    #logo img{
        width: 70px;
        height: 70px;
       margin-left:30px ;
    }
    .ancor-tags{
        padding-right: 50px;
    }
    .ancor-tags a{
        padding: 10px 10px;
    }

    /* Home */
    .home-heading{
        padding: 150px 50px;
    }
    .home-heading h1{
        font-size: 35px;
    }
    h1 em{
        font-size: 50px;
    }
    #btn{
        padding: 8px;
        margin-top: 8px;
    }
    .offer{
        margin-top: -10px;
        margin-left: -10px;
    }
    .offer img{
        width: 300px;
    }
    .home-image img{
        width: 300px;
    }
    @keyframes move {
        from{
            right: 0px;
        }
        to{
            right: 50px;
        }
    }


    /* coffee */
    .coffee-container{
        display:grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around;
        margin-top:40px;
    }
    .coffee-container .coffee-cup{
        width: 190px;
        height: 190px;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 50px;
        background-image:url(./images/coffee-backgound-img-small-div.jpeg);
        background-size: cover;
        margin-top: 12px;
        transition: transform 0.3s ease-in 0.2s;
    }
    .coffee-cup:hover{
        transform: scale(1.1);
    }
    .coffee-cup img{
        width: 150px;
        height: 130px;
        position: relative;
        top: -40px;
        border-radius: 50%;
    }
    .coffee-cup h2{
        margin-top: -25px;
    }
    .coffee-cup p{
        font-size: 13px;
        padding: 5px;
    }

    /* image-text */
    .image-text{
        padding: 40px 10px;
        margin-top: 30px;
    }
    .image-text img{
        width: 33%;
    }
    .image-text p{
        padding: 10px 20px;
        font-size: 2.6vh;
        font-weight: 450px;
    }

    /* cold coffee  */
    .cofe-cup{
        width: 180px;
        height: 260px;
    }
    .cofe-cup h4{
        font-size: 2.2vh;
    }

    /* beans container */
    .beans-container{
        display: grid;
       grid-template-columns: 30% 30%;
       justify-content: center;
       align-items: center;
       gap: 80px;
    }
    .beans-container div{
        width: 250px;
        height: 255px;
    }
    .beans-container img{
        width: 190px;
    }
    .beans-container p{
        font-size: 20px;
        color: rgb(95, 50, 27);
    }

    .Copyrights{
        background-color: black;
        color: #fff;
        font-size: large;
        padding: 10px;
        text-align: center;
    }


}




/* tabs  780px*/
@media(max-width:780px){
    #logo img{
            width: 60px;
            height: 60px;
    }

    .ancor-tags a{
        font-size: 2.7vh;
        padding: 5px;
    }

    /* home */
    .home-heading{
        padding: 150px 20px;
    }
    .home-heading h1{
        font-size: 25px;
    }
    h1 em{
        font-size: 40px;
    }
    .home-heading img{
        width: 15px;
        padding: 5px;
    }
    .home-heading p{
        font-size: small;
    }
    #btn{
        padding: 5px;
    }
    
    .offer img{
        width: 280px;
    }
    .home-image img{
        width: 300px;
    }
    @keyframes move {
        from{
            right: 0px;
        }
        to{
            right: 5%;
        }
    }

     /* coffee */
     .coffee-container{
        display:grid;
        grid-template-columns: 25% 25% 25%;
        justify-content: space-around;
        margin-top:40px;
    }
    .coffee-container .coffee-cup{
        width:170px;
        height: 170px;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 50px;
        background-image:url(./images/coffee-backgound-img-small-div.jpeg);
        background-size: cover;
        margin-top: 12px;
        transition: transform 0.3s ease-in 0.2s;
    }
    .coffee-cup:hover{
        transform: scale(1.1);
    }
    .coffee-cup img{
        width: 120px;
        height: 100px;
        position: relative;
        top: -40px;
        border-radius: 50%;
    }
    .coffee-cup h2{
        margin-top: -20px;
        font-size: medium;
    }
    .coffee-cup p{
        font-size: 1.7vh;
        padding: 5px;
    }

    /* image-text */
    .image-text{
        padding: 40px 0px;
        margin-top: 30px;
    }
    .image-text img{
        width: 30%;
    }
    .image-text p{
        padding: 0px 20px;
        font-size: 2vh;
        font-weight: 400px;
    }

    /* cold coffee  */
    .cold-cofe-container{
        display: grid;
        grid-template-columns: 30% 30%;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        gap: 30px;
    }
    .cofe-cup{
        width: 220px;
        height: 255px;
    }
    .cold-cofe-container img{
        padding: 30px 40px;
        width: 100px;
        height: 150px;
    }

     /* beans container */
     .beans-container{
        display: grid;
       grid-template-columns: 30% 30%;
       justify-content: center;
       align-items: center;
       gap: 80px;
    }
    .beans-container div{
        width: 210px;
        height: 250px;
    }
    .beans-container img{
        width: 190px;
        height: 190px;
    }
    .beans-container p{
        font-size: 15px;
        color: rgb(95, 50, 27);
    }

    /* footer  */
    footer{
        margin-top: 100px;
        padding-top: 50px;
    }
    footer ul li{
        font-size: small;

    }
    footer a img{
        width: 15px;
        padding: 5px;
    }
    .Copyrights{
        background-color: black;
        color: #fff;
        font-size: small;
        padding: 7px;
        text-align: center;
    }


}

/* for coffe div 660px */

@media (max-width:660px) {
    .ancor-tags a{
        font-size: 2.7vh;
        padding: 5px;
    }

    .offer{
        margin-top: -32px;
        margin-left: -60px;
    }
    .offer img{
        width: 200px;
        margin-bottom: -120px;
    }
    .home-image img{
        width: 200px;
    }
     /* coffee */
     .coffee-container{
        display:grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: space-around;
        margin-top:40px;
    }
    .coffee-container .coffee-cup{
        width:130px;
        height: 150px;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 50px;
        background-image:url(./images/coffee-backgound-img-small-div.jpeg);
        background-size: cover;
        margin-top: 12px;
        transition: transform 0.3s ease-in 0.2s;
    }
    .coffee-cup:hover{
        transform: scale(1.1);
    }
    .coffee-cup img{
        width: 110px;
        height: 100px;
        position: relative;
        top: -40px;
        border-radius: 50%;
    }
    .coffee-cup h2{
        margin-top: -20px;
        font-size: medium;
    }
    .coffee-cup p{
        font-size: 1.7vh;
        padding: 5px;
    }
    /* cold coffee  */
    .cold-cofe-container{
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        gap: 50px;
    }
    .cold-cofe-container .cofe-cup{
        width: 180px;
        height: 250px;
    }

    .cold-cofe-container .text-body{
        background-color: #fff;
        color: rgb(95, 50, 27);
        padding: 10px;
    }
    .cold-cofe-container .text-body h4{
        font-size: 3vh;
    }



     /* beans container */
     .beans-container{
        display: grid;
       grid-template-columns: 30% 30%;
       justify-content: center;
       align-items: center;
       gap: 80px;
    }
    .beans-container div{
        width: 170px;
        height: 200px;
    }
    .beans-container img{
        width: 145px;
        height: 150px;
    }
    .beans-container p{
        font-size: 13px;
        color: rgb(95, 50, 27);
    }

}
@media (max-width:510px) {
    .ancor-tags a{
        font-size: 2vh;
        padding: 5px;
        border-radius: 5px;
    padding: 5px 2px;

    }

    
}

/* Mobile  420px*/
@media(max-width:420px){
    #logo img{
        width:50px;
        height: 50px;
        margin-left: 10px;
    }
    .ancor-tags{
        padding-right: 10px;
        margin-top:5px ;
    }
    .ancor-tags a{
        padding: 5px 5px;
        font-size: 1.6vh;

    }
    .ancor-tags li a{
        color: rgb(95, 50, 27);
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        transition: transform 0.2s ease-in 0.2s;
    }
    .ancor-tags li:hover{
        box-shadow: 1px 1px 1px  1px rgb(30, 28, 28);
        background-color: #dddcdc;
        transform: scale(1.1);
    
    }
    
    /* home  */
    .home-heading{
        padding: 60px 20px;
    }
    .home-heading h1{
        font-size: 3vh;
    }
    h1 em{
        font-size: 4vh;
    }
    .home-heading img{
        width: 10px;
        padding: 2px 10px;
        margin: 0px 0;
        margin-bottom: 0;
    }
    .home-heading p{
        font-size: 1.3vh;
    }
    #btn{
        padding: 2px;
        margin-left: 5px;
        font-size: 1.3vh;
    }
    .offer{
        margin-top: 40px;
    }
    .offer img{
        width: 190px;
    }
    .home-image img{
        width: 140px;
        margin-top: 60px;
    }
    @keyframes move {
        from{
            right: 0px;
        }
        to{
            right: 5%;
        }
    }

     /* coffee */
     #heading{
        margin-top: 40px;
     }
     .coffee-container{
        display:grid;
        grid-template-columns: 95%;
        margin-top:40px;


    }
    .coffee-container .coffee-cup{
        width:250px;
        height: 220px;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 50px;
        background-image:url(./images/coffee-backgound-img-small-div.jpeg);
        background-size: cover;
        margin-top: 12px;
        transition: transform 0.3s ease-in 0.2s;
    }
    .coffee-cup:hover{
        transform: scale(1.1);
    }
    .coffee-cup img{
        width: 180px;
        height: 150px;
        position: relative;
        top: -40px;
        border-radius: 50%;
    }
    .coffee-cup h2{
        margin-top: -15px;
        font-size: medium;
    }
    .coffee-cup p{
        font-size: 1.7vh;
        padding: 5px;
    }

    /* image-text */
    .image-text{
        display: grid;
        padding: 0;
        margin: 0;
        margin-bottom: 60pxx;
    }
    .image-text img{
        width: 140px;
        display: block;
        margin: 0 auto;
    }
    .image-text p{
        padding-top:20px;
        margin-right: 0px;
        text-align: justify;
        font-size: 2.6vh;
        font-weight: 300px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* cold cofe */
    .cold-cofe-container{
        display: grid;
        grid-template-columns: 60%;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 12px;
        gap: 60px;
    }
    .cold-cofe-container  .cofe-cup{
        width: 250px;
        height: 300px;
    }
   .cofe-cup img{
        width: 190px;
        height: 200px;
    }
    /* beans container */
    #heading{
        text-align: center;
    }
    .beans-container{
        display: grid;
       grid-template-columns:60%;
       justify-content: center;
       align-items: center;
       gap: 70px;
       margin-top: 30px;
    }
    .beans-container div{
        width: 250px;
        height: 265px;
    }
    .beans-container img{
        width: 220px;
        height: 220px;
    }
    .beans-container p{
        font-size: 15px;
        color: rgb(95, 50, 27);
    }

    /* footer  */
    footer{
        padding-top: 50px;
        margin-top: 50px;
    }
    footer ul li{
        font-size: 1.3vh;
    }
    footer h4{
        font-size: 1.4vh;
    }
    footer img{
        width: 10px;
        padding: 2px;
    }

    .Copyrights{
        background-color: black;
        color: #fff;
        font-size: 10px;
        padding: 7px;
        text-align: center;
    }

}