*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    /* background-image:url(./images/main-background-img.jpg) ; */
    background-color: pink;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

/* Navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo img{
    width: 80px;
    height:80px;
    margin-left: 40px;
    border-radius: 50%;
}
.ancor-tags{
    margin-top: 20px;
    padding-right: 60px;
}
.ancor-tags a{
    color: rgb(95, 50, 27);
    text-decoration: none;
    background-color: #ffffff6b;
    /* color: #fff; */
    text-align: center;
    border-radius: 11px;
    padding: 10px 20px;
}



/* media query for small screen 1000px */
@media(max-width:1000px){
    #logo img{
        width: 70px;
        height: 70px;
       margin-left:30px ;
    }
    .ancor-tags{
        padding-right: 50px;
    }
    .ancor-tags a{
        padding: 10px 10px;
    }
}


/* tabs  780px*/
@media(max-width:780px){
    #logo img{
            width: 60px;
            height: 60px;
    }

    .ancor-tags a{
        font-size: 2.7vh;
        padding: 5px;
    }
}


/* Mobile  420px*/
@media(max-width:420px){
    #logo img{
        width:50px;
        height: 50px;
        margin-left: 10px;
    }
    .ancor-tags{
        padding-right: 10px;
        margin-top:5px ;
    }
    .ancor-tags a{
        padding: 5px 5px;
        font-size: 1.6vh;
       
    }

}